# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Make everything in the e2e-tests/snapshots directory use LF line endings.
# Otherwise we'll get diffs in the snapshots when running on Windows.
e2e-tests/snapshots/** text eol=lf

# we do NOT want github to automatically collapse the diff because
# we should review package-lock.json for security-sensitive changes.
# https://docs.github.com/en/repositories/working-with-files/managing-files/customizing-how-changed-files-appear-on-github
package-lock.json -linguist-generated

